<!-- Placeholder -->
<div class="row">
<div id="unEatenBurgers" class="col-4 offset-1">    
    {{#each unEatenBurgers}}
    <div class="row align-items-center burgerContainer mb-1">
        <div class="col burgerName">{{id}}. {{burger_name}}</div>
        <button class="col-3 align-self-end btn btn-success btnDevour" data-id="{{id}}">Devour It!</button>
    </div>
    {{/each}}    
</div>
<div id="eatenBurgers" class="col-4 offset-2">
    {{#each eatenBurgers}}
    <div class="eatenContainer mb-1">{{id}}. {{burger_name}}</div>
    {{/each}}
</div>
</div>
